[submodule "libs/i3ipc++"]
	path = libs/i3ipc++
	url = git@github.com:mox-mox/i3ipcpp.git
[submodule "libs/console_stream"]
	path = libs/console_stream
	url = git@github.com:mox-mox/console_stream.git
[submodule "libs/notify_stream"]
	path = libs/notify_stream
	url = git@github.com:mox-mox/notify_stream.git
[submodule "libs/getoptpp"]
	path = libs/getoptpp
	url = git@github.com:mox-mox/getoptpp.git
